## IDE
.idea
.vs
.vscode

## Local files
/docs/_config.local.override.yml

## Generated and vendor files
docs/public/*
!docs/public/.gitkeep
/vendor/
/node_modules

# Cache files
/var/
docs/.sass-cache
docs/.jekyll-cache
docs/.jekyll-metadata
