## IDE
.idea
.vs
.vscode

## Local files
_config.local.override.yml

## Generated and vendor files
public/*
!public/.gitkeep
/vendor/
/node_modules

# Cache files
/var/
.sass-cache
.jekyll-cache
.jekyll-metadata